
body {
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    position: fixed;
    top: 0;
    width: 101%;
}
li {
    float: left;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    padding: 2px;
}
.navicon {
    width: 48px;
    height: 48px;
    padding-right: 5px;
}
li figure {
    border-radius: 5px;
    padding: 25px;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    word-wrap: break-word;
}
li figure img {
    height: 200px;
    width: 200px;
}
li figure figcaption {
    padding-top: 4px;
}
li figure b figcaption {
    padding-top: 3px;
}

li a {
    display: block;
    color: white;
    background-color: #2a2a2a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 20px;
}

li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #2196F3;
}
#topbar_gradient_1 {
    height: 25px;
    background-color: #2196F3;
    background-image: linear-gradient(#2196F3, #333);
}
#hovbox1 a {
    display: inline-block;
    border-radius: 25px;
    height: 18px;
    background-color: #2a2a2a;
    color: white;
    border: 2px solid #2a2a2a;
    text-decoration: none;
    text-align: center;
}
#hovbox1 a:hover:not(.active) {
    height: 18px;
    background-color: #111;
    border: 2px solid #2196F3;
}

#ptag1 {
    float: bottom;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ptag1 a {
    height: 18px;
    display: block;
    color: white;
    background-color: #2a2a2a;
    text-align: left;
    padding: 16px 16px;
    text-decoration: none;
    border: 5px solid #2a2a2a;
    border-radius: 4px;
}
#ptag1 a:hover:not(.active) {
    height: 18px;
    background-color: #111;
    border: 5px solid #111;
    border-radius: 4px;
}


/* TOP BAR */
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #111;
    color: white;
}
.topnav a.active {
    background-color: #2196F3;
    color: white;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}