html {
    background: #ccc;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body a {
    text-decoration: none;
    color: turquoise;
}
body div.container {
    padding: 10px;
    background: #999;
    border-radius: 5px;
}